* {
    font-family: sans-serif;
}

body {
    background: f1fbff;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    bottom: 220px;
    z-index: 1;
}

.carousel-item h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-item p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    z-index: 2;
}

.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

@media(min-width:768px) {
    .new-input {
        width: 50%;
    }
}

#spinner {
    position: fixed;
    top: 50%;
    left: 46%;
    z-index: 3;
}

.card-body img {
    height: 500px;
    transition: all 1s;
}

.card-body img:hover {
    transform: scale(1.1);
}

body {
    background: linear-gradient(to right, white, grey, white);
    /* Add this to your existing CSS or create a new style block */

    scroll-behavior: smooth;

}

#map {
    height: 250px;
    width: 900%;
}

#header {
    position: fixed;
    top: 63px;
    width: 100%;
    height: 5px;
    background-color: white;
    animation: move 2s linear infinite;
    z-index: 2;
}

@keyframes move {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }

}

#progress{
    position: fixed;
    top: 50%;
    left: 46%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 3;
}
#progressbar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    z-index: 3;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    line-height: 120px;
    font-size: 18px;
}