.h1 {
    color: red;
}

.style {
    font-style: italic;
    font-size: larger;
}

.container {
    max-width: 840px;
    margin: 0 auto;
}

.intro {
    text-align: center;
}


.style {
    display: grid;
    grid-template-columns: 50% 50%;

}

.local-soups,
.our-rice {
    text-align: center;
}

.type {
    text-align: center;
    list-style: none;
}

@media(max-width:480px)
{ .style{grid-template-columns: 100px;

}

}