* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('pizza2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form-box {
    position: relative;
    width:400px;
    height: 450px ;
    display: flex;
    justify-content: center;
    align-items: center;
    background:transparent;
    border: 2px solid rgb(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
}
span{
    color: yellow;
}
h1{
    font-size: 2em;
    color: white;
    text-align: center;
    margin: 10px 0 25px;
}
.form-input{
     position:relative;
     margin:30px 0;
     width: 310px;
     border-bottom: 2px solid #fff;
}
.form-input label {
    position:absolute;
    top:50%;
    left: 5px;
    /*find out the function of translateY()*/
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5px;
}
/*this help the label move*/
input:focus~label,
input:focus~:valid{
    top:-5px;
}
.form-input input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline:none;
    font-size: 1em;
    padding: 35px 0 5px;
    color: #fff;
}
.forget{
    margin: 15px 0 15px;
    font-size:.9em ;
    color: #fff;
    display: flex;
    justify-content: center;
}
.forget label input{
       margin-right: 3px;
}
.forget label a {
    color: #fff;
    text-decoration: none;
    
}
.forget label a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    border-radius: 100px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin: 10px 0 10px;

}
.register{
    font-size: .9em;
    color:#fff;
    text-align: center;
    margin: 10px 0 10px;
}
.register a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}
.register a:hover{
    text-decoration: underline;
}
